@import "../../common/styles/mixins.module.scss";
@import "../../common/styles/vars.module.scss";


.card {
  @include borders-and-background-color($simpleBlueColor, $bigBorderRadius, $violetCardColor);

  margin: 2% 15%;

  & > h2 {
    color: $darkBlueColor;
    text-decoration: underline solid $darkBlueColor;
  }

  & h3 {
    color: $simpleBlueColor;
  }

  & .date {
    color: $darkBlueColor;
    margin-right: 75%;
  }
}

.likes {
  @include flex-total-center(row);
  @include borders-and-background-color($simpleBlueColor, $smallBorderRadius, $violetCardColor);

  min-width: 30px;
  padding: 0 2px;
  width: auto;
  height: 35px;
  margin-right: 2%;
  margin-left: auto;
}

.likesHeart {
  display: flex;
  flex-direction: row;
}


.heart {
  margin-bottom: 1%;
  margin-right: 5%;
  position: relative;

  width: 40px;
  height: 36px;

  &::before, &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 20px;
    height: 32px;
    border-radius: 20px 20px 0 0;
  }

  &::before {
    left: 20px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }

  &::after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  }

  &-color-red {
    &::before, &::after {
      background: red;
    }
  }

  &-color-gray {
    &::before, &::after {
      background: gray;
    }
  }
}

@media (max-width: $smallScreenMaxWidth) {
  .card {
    @include font-settings($simpleTextSizeSmall, normal);

    & > h2, & .date {
      @include font-settings($bigTextSizeSmall, bold);
    }
    margin: 2% 5%;
  }

  .heart {
    width: 30px;
    height: 27px;

    &::before, &::after {
      width: 15px;
      height: 24px;
      border-radius: 15px 15px 0 0;
    }

    &::before {
      left: 15px;
    }
  }

  .likes {
    min-width: 20px;
    height: 22px;
  }
}

@media (max-width: $mediumScreenMaxWidth) {
  .card {
    @include font-settings($simpleTextSizeMedium, normal);

    & > h2, & .date {
      @include font-settings($bigTextSizeMedium, bold);
    }
  }
}

@media (min-width: $largeScreenMinWidth) {
  .card {
    @include font-settings($simpleTextSizeLarge, normal);

    & > h2, & .date {
      @include font-settings($bigTextSizeLarge, bold);
    }
  }
}


@media (max-width: $superSmallScreenMaxWidth) {
  .card {
    margin: 2% 5%;
  }
}