$darkBlueColor: #003241;
$simpleBlueColor: #00546c;

$violetCardColor: #eadafe;
$violetAddButtonColor: #b4abcb;
$pinkAddCardColor: #dac9de;
$darkVioletColor: #332b46;
$violetPlaceholderColor: #493d65;

$darkRedColor: #721900;

$smallBorderRadius: 5px;
$bigBorderRadius: 20px;

$simpleTextSizeSmall: 100%;
$bigTextSizeSmall: 120%;

$simpleTextSizeMedium: 120%;
$bigTextSizeMedium: 150%;

$simpleTextSizeLarge: 135%;
$bigTextSizeLarge: 155%;


