@import "../../common/styles/mixins.module.scss";
@import "../../common/styles/vars.module.scss";

.backLink {
    text-align: center;
}

.card {
    @include borders-and-background-color($simpleBlueColor, $bigBorderRadius, $violetCardColor);
    text-align: center;
    margin: 2% 15%;

    & > h2 {
        color: $darkBlueColor;
        text-decoration: underline solid $darkBlueColor;
    }

    & h3 {
        color: $simpleBlueColor;
    }

    & img {
        margin-left: 87%;
        margin-right: 1%;
        width: 45px;
        margin-bottom: 2%;
    }

    & .date {
        color: $darkBlueColor;
        margin-right: 75%;
    }
}

.likes {
    @include flex-total-center(row);
    @include borders-and-background-color($simpleBlueColor, $smallBorderRadius, $violetCardColor);

    min-width: 30px;
    padding: 0 2px;
    width: auto;
    height: 35px;
    margin-right: 2%;
    margin-left: auto;
}

.likesHeart {
    display: flex;
    flex-direction: row;
}


.heart {
    margin-bottom: 1%;
    margin-right: 5%;
    position: relative;

    width: 40px;
    height: 36px;

    &::before, &::after {
        content: "";
        position: absolute;
        top: 0;
        width: 20px;
        height: 32px;
        border-radius: 20px 20px 0 0;
    }

    &::before {
        left: 20px;
        transform: rotate(-45deg);
        transform-origin: 0 100%;
    }

    &::after {
        left: 0;
        transform: rotate(45deg);
        transform-origin: 100% 100%;
    }

    &-color-red {
        &::before, &::after {
            background: red;
        }
    }

    &-color-gray {
        &::before, &::after {
            background: gray;
        }
    }
}

.openButton {
    @include flex-total-center(row);
    @include borders-and-background-color($simpleBlueColor, $smallBorderRadius, $pinkAddCardColor);

    padding: 0px 5px;
    height: auto;
    width: auto;
    margin-right: 30%;
    margin-left: 30%;
    margin-bottom: 2%;

    &:hover {
        box-shadow: inset 0 0 10px 5px rgba(0%,33%,42%,0.25);
    }
}

.titleInput {
    @include borders-and-background-color($darkBlueColor, $smallBorderRadius, $violetCardColor);

    margin: 1% 10%;
    width: 40%;
    padding: 1% 1%;

    &:focus {
        background-color: transparent;
        outline: none;
    }

    &::placeholder {
        color: $darkBlueColor;
    }
}

.textInput {
    @include borders-and-background-color($darkBlueColor, $smallBorderRadius, $violetCardColor);

    margin: 1% 10%;
    width: 70%;
    padding: 1%;

    &:focus {
        background-color: transparent;
        outline: none;
    }

    &::placeholder {
        color: $simpleBlueColor;
    }
}


.saveEditing {
    @include borders-and-background-color($darkBlueColor, $smallBorderRadius, #c9a0dc);

    color: $darkVioletColor;
    min-width: 10%;
    width: auto;
    padding: 1% 2%;
    margin: 1% 15% 1% 70%;

    &:hover {
        box-shadow: inset 0 0 10px 5px rgba(79,63,86,0.3);
    }
}

@media (max-width: $smallScreenMaxWidth) {
    .card {
        @include font-settings($simpleTextSizeSmall, normal);

        & > h2, & .date {
            @include font-settings($bigTextSizeSmall, bold);
        }

        & img {
            width: 30px;
        }

        margin: 2% 5%;
    }

    .titleInput {
        @include font-settings($simpleTextSizeSmall, normal);

        &::placeholder {
            @include font-settings($simpleTextSizeSmall, normal);
        }
    }

    .textInput {
        @include font-settings($simpleTextSizeSmall, normal);

        &::placeholder {
            @include font-settings($simpleTextSizeSmall, normal);
        }
    }


    .heart {
        width: 30px;
        height: 27px;

        &::before, &::after {
            width: 15px;
            height: 24px;
            border-radius: 15px 15px 0 0;
        }

        &::before {
            left: 15px;
        }
    }

    .likes {
        min-width: 20px;
        height: 22px;
    }
}

@media (max-width: $mediumScreenMaxWidth) {
    .card {
        @include font-settings($simpleTextSizeMedium, normal);

        & > h2, & .date {
            @include font-settings($bigTextSizeMedium, bold);
        }
    }

    .titleInput {
        @include font-settings($simpleTextSizeSmall, normal);

        &::placeholder {
            @include font-settings($simpleTextSizeSmall, normal);
        }
    }

    .textInput {
        @include font-settings($simpleTextSizeSmall, normal);

        &::placeholder {
            @include font-settings($simpleTextSizeSmall, normal);
        }
    }
}

@media (min-width: $largeScreenMinWidth) {
    .card {
        @include font-settings($simpleTextSizeLarge, normal);

        & > h2, & .date {
            @include font-settings($bigTextSizeLarge, bold);
        }
    }

    .titleInput {
        @include font-settings($simpleTextSizeMedium, normal);

        &::placeholder {
            @include font-settings($simpleTextSizeMedium, normal);
        }
    }

    .textInput {
        @include font-settings($simpleTextSizeMedium, normal);

        &::placeholder {
            @include font-settings($simpleTextSizeMedium, normal);
        }
    }
}


@media (max-width: $superSmallScreenMaxWidth) {
    .openButton {
        margin-right: 10%;
        margin-left: 10%;
    }

    .card {
        margin: 2% 5%;
    }
}