.App {
  text-align: center;
}

.loadingPage {
  text-align: center;
  font-family: italic, serif;
  color: #003241;
  font-weight: bold;
  font-size: 200%;
}

.formAddComment {
  border-radius: 5px;
  border: solid #00546c;
  margin: 1% 25%;
  background-color: #cfc9de;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: italic, serif;
  font-size: 100%;
}

.headerForm {
  color: #332b46;
  font-weight: bold;
  font-size: 120%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.titleInput {
  border-radius: 5px;
  border: solid #332b46;
  background-color: #cfc9de;
  margin: 1% 10%;
  width: 40%;
  padding: 1% 1%;
  font-family: italic, serif;
  font-size: 120%;
}

.titleInput:focus {
  background-color: transparent;
  outline: none;
}

.titleInput::placeholder {
  font-family: italic, serif;
  color: #493d65;
}

.textInput {
  border-radius: 5px;
  border: solid #332b46;
  background-color: #cfc9de;
  margin: 1% 10%;
  width: 70%;
  padding: 1% 1%;
  font-family: italic, serif;
  font-size: 120%;
}

.textInput:focus {
  background-color: transparent;
  outline: none;
}

.textInput::placeholder {
  color: #493d65;
  font-family: italic, serif;
}

.addButton {
  border-radius: 5px;
  border: solid #332b46;
  background-color: #b4abcb;
  margin: 1% 30%;
  padding: 1% 10%;
}

.addButton:hover{
  box-shadow: inset 0 0 10px 5px rgba(102,86,141,0.30);
}

